<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhM4BUqcbDsFsi_-pYh68ZwOLsq_wbMgI</string>
	<key>GCM_SENDER_ID</key>
	<string>991792333141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uee.wellnest</string>
	<key>PROJECT_ID</key>
	<string>wellnessapp-98c62</string>
	<key>STORAGE_BUCKET</key>
	<string>wellnessapp-98c62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991792333141:ios:d69396d7ffc6d4f9a7efdc</string>
</dict>
</plist>